/* <!-- Pavel Krivopustov, 11/01/2017, IMD 233 --> */

body {
  padding: 70px;
  font-family: Ubuntu, adobe-garamond-pro;
}

.mainImage {
  text-align:center;
}

.navbar {
  padding:7px;
}

footer {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

.jumbotron {
  display:inline-block;
}

table {
  margin: 0 auto;
}

.col-mid {
  text-align:center;
  padding: 15px;
}

